<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dict.demo.mapper.ServingProductMapper">
    <resultMap id="ResultSepMap" type="com.dict.demo.entity.ServingProduct">
        <result column="sep_id" property="sepId" jdbcType="INTEGER"/>
        <result column="sep_number" property="sepNumber" jdbcType="INTEGER" />
        <result column="sep_scope" property="sepScope" jdbcType="VARCHAR" />
        <result column="sep_name" property="sepName" jdbcType="VARCHAR" />
        <result column="sep_tagline" property="sepTagline" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getServingProductList" resultMap="ResultSepMap">
        select * from servingproduct
    </select>
</mapper>
