<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DICT查询系统</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet">
</head>
<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
<!--[if lt IE 9]>
<script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
<script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo">
                <i class="layui-icon" style="font-size:20px;color: #7F8C96;">&#xe65a;</i>
                DICT查询系统
            </div>
            <!-- 头部区域（可配合layui已有的水平导航）    -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item"><a href="">控制台</a> </li>
                <li class="layui-nav-item"><a href="">商品管理</a> </li>
                <li class="layui-nav-item"><a href="">用户</a> </li>
                <li class="layui-nav-item"><a href="javascript:;">其他系统</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">邮件管理</a> </dd>
                        <dd><a href="">消息管理</a> </dd>
                        <dd><a href="">授权管理</a> </dd>
                    </dl>
                </li>
            </ul>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">aaa 闲心</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">基本资料</a></dd>
                        <dd><a href="">安全设置</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="">退了</a> </li>
            </ul>
        </div>

        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
<!--               左侧导航区域（可配合layui已有的垂直导航）-->
                <ul class="layui-nav layui-nav-tree" lay-filter="test">
                    <li class="layui-nav-item layui-nav-itemed">
                        <a href="javascript:;">所有商品</a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;">行政办公</a></dd>
                            <dd><a href="javascript:;">会议协同</a></dd>
                            <dd><a href="javascript:;">销售服务</a></dd>
                            <dd><a href="javascript:;">IT系统建设维护</a></dd>
                            <dd><a href="">超链接</a></dd>
                        </dl>
                    </li>

                    <li class="layui-nav-item">
                        <a href="">购物车</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="layui-container">
<!--            内容主题区域-->
            <div class="layui-body ">
                <blockquote class="layui-elem-quote">产品搜索</blockquote>

                <div th:each="first : ${firstList}">
                    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                        <legend th:text="${first.getServiceScope()}"></legend>
                    </fieldset>
                    <div class="layui-row layui-col-space10">
                        <div class="layui-col-xs6 layui-col-sm6 layui-col-md6" th:each="second:${secondList}">
                            <div class="layui-collapse">
                                <div class="layui-colla-item">
                                    <h2 class="layui-colla-title" th:text="${second.getServiceName()}">云考勤</h2>
                                    <div class="layui-colla-content ">
                                        <div class="layui-card">
                                            <div class="layui-card-header" th:text="${second.getServiceTagline()}">考勤进入刷脸卡时代</div>
                                            <div class="layui-card-body">
                                                非标产品-人脸考勤<br>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="layui-footer">
<!--            底部固定区域-->
            © 中国电信
        </div>

    </div>

    <script th:src="@{/layui/layui.js}"></script>
    <script>
        layui.use('element',function () {
            var element = layui.element;
        });
    </script>
</body>
</html>