<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        .hide{
            display: none;
        }
    </style>
</head>
<body>
        <!--<span th:each="third:${thirdList}">-->
            <!--<p th:text="${third.getProductName()}"></p>-->
        <!--</span>-->
        <!--<span th:each="send:${secondList}">-->
            <!--<p th:text="${send.getServiceName()}"></p>-->
        <!--</span>-->
        <!--<div th:each="i:${firstList}">-->
            <!--<p th:text="${i.getServiceScope()}"></p>-->
        <!--</div>-->
        <div th:if="5>3">
            <div>asdasd</div>
            <div>ssssss</div>
        </div>

        <div class="hide">
            <div >sadasdasd</div>
            <div >asdasdasd</div>
        </div>

        <div th:if="5<3">
            <div>asdasdasd</div>
            <div>asdasdasd</div>
            <div>asdasdasd</div>
        </div>

        <div th:if="5>3">
            <div>asdasd</div>
            <div>ssssss</div>
        </div>



</body>
</html>