<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">-->
<!--                        <div class="layui-collapse">-->
<!--                            <div class="layui-colla-item">-->
<!--                                <h2 class="layui-colla-title">云WiFi</h2>-->
<!--                                <div class="layui-colla-content ">-->
<!--                                    <div class="layui-card">-->
<!--                                        <div class="layui-card-header">云上WiFi</div>-->
<!--                                        <div class="layui-card-body">-->
<!--                                            非标产品-云WiFi<br>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">-->
<!--                        <div class="layui-collapse">-->
<!--                            <div class="layui-colla-item">-->
<!--                                <h2 class="layui-colla-title">云桌面</h2>-->
<!--                                <div class="layui-colla-content ">-->
<!--                                    <div class="layui-card">-->
<!--                                        <div class="layui-card-header">云上的生产力工具</div>-->
<!--                                        <div class="layui-card-body">-->
<!--                                            标准产品-云桌面<br>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">-->
<!--                        <div class="layui-collapse">-->
<!--                            <div class="layui-colla-item">-->
<!--                                <h2 class="layui-colla-title">云办公</h2>-->
<!--                                <div class="layui-colla-content ">-->
<!--                                    <div class="layui-card">-->
<!--                                        <div class="layui-card-header">您的专属轻量级移动办公专家</div>-->
<!--                                        <div class="layui-card-body">-->
<!--                                            标准产品-综合办公<br>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">-->
<!--                        <div class="layui-collapse">-->
<!--                            <div class="layui-colla-item">-->
<!--                                <h2 class="layui-colla-title">云监控</h2>-->
<!--                                <div class="layui-colla-content ">-->
<!--                                    <div class="layui-card">-->
<!--                                        <div class="layui-card-header">集高清视频、智能分析、云存储功能于一体的智能安防服务</div>-->
<!--                                        <div class="layui-card-body">-->
<!--                                            标准产品-手机看店<br>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">-->
<!--                        <div class="layui-collapse">-->
<!--                            <div class="layui-colla-item">-->
<!--                                <h2 class="layui-colla-title">云对讲</h2>-->
<!--                                <div class="layui-colla-content ">-->
<!--                                    <div class="layui-card">-->
<!--                                        <div class="layui-card-header">沟通无界，智能更放心</div>-->
<!--                                        <div class="layui-card-body">-->
<!--                                            标准产品-天翼对讲<br>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">-->
<!--                        <div class="layui-collapse">-->
<!--                            <div class="layui-colla-item">-->
<!--                                <h2 class="layui-colla-title">云简讯</h2>-->
<!--                                <div class="layui-colla-content ">-->
<!--                                    <div class="layui-card">-->
<!--                                        <div class="layui-card-header">短信通知随处可达</div>-->
<!--                                        <div class="layui-card-body">-->
<!--                                            标准产品-翼讯通<br>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>会议协同</legend>
</fieldset>

<div class="layui-row layui-col-space10">
    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
        <div class="layui-collapse">
            <div class="layui-colla-item">
                <h2 class="layui-colla-title">云会议</h2>
                <div class="layui-colla-content ">
                    <div class="layui-card">
                        <div class="layui-card-header">让会议近在咫尺</div>
                        <div class="layui-card-body">
                            非标产品-云会议<br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
        <div class="layui-collapse">
            <div class="layui-colla-item">
                <h2 class="layui-colla-title">云简单</h2>
                <div class="layui-colla-content ">
                    <div class="layui-card">
                        <div class="layui-card-header">开会如此简单高效</div>
                        <div class="layui-card-body">
                            非标产品-视频会议<br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>销售服务</legend>
</fieldset>

<div class="layui-row layui-col-space10">
    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
        <div class="layui-collapse">
            <div class="layui-colla-item">
                <h2 class="layui-colla-title">云名片</h2>
                <div class="layui-colla-content ">
                    <div class="layui-card">
                        <div class="layui-card-header">未接通，先沟通，让想接你电话的人接电话</div>
                        <div class="layui-card-body">
                            标准产品-闪信(来点名片)<br>
                            标准产品-集团彩铃
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
        <div class="layui-collapse">
            <div class="layui-colla-item">
                <h2 class="layui-colla-title">云客服</h2>
                <div class="layui-colla-content ">
                    <div class="layui-card">
                        <div class="layui-card-header">电话挂断，商机不断</div>
                        <div class="layui-card-body">
                            标准产品-旺铺助手<br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>