<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <!--<span th:each="third:${thirdList}">-->
            <!--<p th:text="${third.getProductName()}"></p>-->
        <!--</span>-->
        <!--<span th:each="send:${secondList}">-->
            <!--<p th:text="${send.getServiceName()}"></p>-->
        <!--</span>-->
        <!--<div th:each="i:${firstList}">-->
            <!--<p th:text="${i.getServiceScope()}"></p>-->
        <!--</div>-->
        <p th:if="${5>3}">hhhhh
            <div>sadasdasd</div>
            <div>asdasdasd</div>
        </p>

        <p th:if="${5<3}">wwwwww
            <div th:if="${5<3}">sadasdasd</div>
            <div>asdasdasd</div>
        </p>

</body>
</html>