<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet" />
</head>
<body>
    <div class="layui-container">
        <div class="layui-row">
            <table id="demo" lay-filter="test" class="layui-table">
                <thead>
                    <tr>
                        <th lay-data="{field:'username',width:150}" rowspan="2">联系人</th>
                        <th lay-data="{field:'center'}" colspan="4">地址</th>
                        <th lay-data="{field:'amount',width:120}" rowspan="2">金额</th>
                    </tr>
                    <tr>
                        <th lay-data="{field:'province',width:120}">省</th>
                        <th lay-data="{field:'city',width:120}">市</th>
                        <th lay-data="{field:'zone',width:120}">区</th>
                        <th lay-data="{field:'zone',width:120}">县</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <table id="test2" lay-filter="test2" class="layui-hide">

            </table>


            <button id="outToCsv" class="layui-btn">导出为Csv格式</button>
            <button id="outToExcel" class="layui-btn">导出为Excel格式</button>
            <button id="showTable" class="layui-btn">显示表格</button>
        </div>
    </div>

<script th:src="@{/layui/layui.js}"></script>
<script th:src="@{js/jquery-3.4.1.js}"></script>
<script th:src="@{js/account.js}"></script>
<script>
    layui.use('table',function () {
       var table = layui.table;

       $("#showTable").on('click',function () {
           table.render({
               elem:'#test2'
               ,url:'[[@{/json/test1.json}]]'
               ,toolbar:true
               ,title:'用户数据表'
               ,totalRow:true
               ,width:892
               ,height:500
               ,cols: [
                   [
                       {field:'序号', title:'序号', width:80,rowspan:3, fixed: 'left', unresize: true, sort: true, totalRowText: '合计行'}
                       ,{field:'服务场景', title:'服务场景', width:120, edit: 'text',rowspan:3}
                       ,{field:'服务名称', title:'服务名称', width:150, edit: 'text',rowspan:3}
                       ,{field:'产品名称', title:'产品名称', width:100,rowspan:3}
                       ,{field:'需求数量', title:'需求数量', width:100, edit: 'text',rowspan:3}
                       ,{field:'套餐选择', title:'套餐选择', width:100,colspan:13}
                       ,{field:'使用时长', title:'使用时长',width:100,rowspan:3}
                       ,{field:'折扣', title:'折扣', width:80,rowspan:3}
                       ,{field:'合计', title:'合计', width:100,rowspan:3,totalRow:true}
                   ]
                   ,[
                       {field:'主套餐',title:'主套餐',width:120,colspan:2}
                       ,{field:'配套套餐',title:'配套套餐',width:120,colspan:4}
                       ,{field:'可选套餐',title:'可选套餐',width:120,colspan:5}
                       ,{field:'可选通讯费',title:'可选通讯费',width:120,colspan:2}
                   ]
                   ,[
                       {field:'套餐类型',title:'套餐类型',width:120}
                       ,{field:'主套餐每月资费',title:'主套餐每月资费',width:120}
                       ,{field:'出口带宽',title:'出口带宽',width:120}
                       ,{field:'出口带宽每月资费',title:'出口带宽每月资费',width:120}
                       ,{field:'NAT网关',title:'NAT网关',width:120}
                       ,{field:'NAT网关每月资费',title:'NAT网关每月资费',width:120}
                       ,{field:'数据盘0.3/G/月',title:'数据盘0.3/G/月',width:120}
                       ,{field:'云存储套餐',title:'云存储套餐',width:120}
                       ,{field:'云存储每月资费',title:'云存储每月资费',width:120}
                       ,{field:'短信包',title:'短信包',width:120}
                       ,{field:'短信包每月资费',title:'短信包每月资费',width:120}
                       ,{field:'短信0.1元/条',title:'短信0.1元/条',width:120}
                       ,{field:'彩信0.3元/条',title:'彩信0.3元/条',width:120}
                   ]
               ]
               ,page:true
               ,response:{
                   statusCode:200
               }
               ,parseData:function (res) {
                   return{
                       "code":res.status,
                       "msg":res.message,
                       "count":res.total,
                       "data":res.rows.item
                   };
               }
           });
       });


       $('#outToCsv').on('click',function () {
           table.exportFile(
               ['名字','性别','年龄'],
               [
                   ['张山','男','20']
               ],'csv');
       });
        $('#outToExcel').on('click',function () {
            table.exportFile(
                ['名字','性别','年龄'],
                [
                    ['张山','男','20']
                ],'xls');
        })
    });
</script>
</body>
</html>